POSTGRESQL_URI=postgresql://username:pass@localhost:5432/app_engine
ASYNC_POSTGRESQL_URI=postgresql+asyncpg://username:pass@localhost:5432/app_engine
TSURU_API_URL=http://103.109.43.822
TSURU_USERNAME=username
TSURU_PASSWORD=*****
DOMAIN=dev-u67s63gaoytg80ad.us.auth0.com
API_AUDIENCE=https://bde5-222-255-27-220.ngrok-free.app/api
0AUTH_USERINFO=https://dev-u67s63gaoytg80ad.us.auth0.com/userinfo
ALGORITHMS=RS256
DEPLOY_SERVICE_URL=http://localhost:8001

# dev
# API_AUDIENCE=http://localhost:8000/api